:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Gilroy", sans-serif;
}
* {
  box-sizing: border-box;
}
body::before {
  position: absolute;
  z-index: -3;
  top: 0;
  content: '';
width: 100%;
height: 1324px;
background: url(/images/body-before.svg) no-repeat center / cover;
}
header {
  width: 100%;
}
.nav-left {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 68px;
}
.nav-left a {
  width: 130px;
  height: 85px;
  background: url(/images/nav-left.svg) no-repeat;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #000;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
}
.nav-right a {
  width: 130px;
  height: 85px;
  background: url(/images/nav-right.svg) no-repeat ;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #000;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
}
.nav-right {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 55px;
}
main {
  margin-top: 40px;
}
.product-images {
  width: 100%;
}
.container {
  max-width: 1346px;
  width: 100%;
  margin: 0 auto;
}
.images-container {
  position: relative;
    max-width: 988px;
  width: 100%;
  margin: 0 auto;
  background: url(/images/image-back.png) no-repeat;
position: relative;
}
.product-images {
  margin-top: 98px;
  position: relative;
}
.images-container::before {
  position: absolute;
  bottom: -88px;
  content: '';
 left: 0;
 right: 0;
 margin: auto;
  width: 896px;
  height: 264px;
  background: url(/images/ellipse.svg);
z-index: 1;
}
.header-container {
  margin: 30px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1372px;
  width: 100%;
}
.korobka {
  margin-top: -52px;
  margin-left: 289px;
}
.nuts {
 position: absolute;
 top: 130px;
  right: 130px;
}
.product-text h1 {
  font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
line-height: 140%;
text-transform: uppercase;
text-align: center;
color: #0047a3;
}
.product-text h1 span {
  color: #000;
}
.switch {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
border: 5px solid rgba(0, 71, 163, 0.2);
border-radius: 60px;
width: 390px;
margin:  0 auto;
}
.switch-left {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: #000;
background: #fff;
border-radius: 60px 0 0 60px;
width: 50%;
height: 63px;
}
.switch-right {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: #fff;
background: #0047a3;
border-radius:  0  60px 60px 0;
width: 50%;
height: 63px;
}
.product-text {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-main-text span {
  font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 140%;
color: #000;
text-align: right;
}
.product-main-text {
  
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 473px;

}
.product-main-text p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 140%;
text-align: center;
color: #000;
}
.text-container {
  margin-top: 7px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
  max-width: 1074px;
}


.product-main-text::after {
  position: absolute;
    filter: blur(98px);
    background: #fff;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}